## Ref: http://www.gitalias.com/
## Ref: https://github.com/GitAlias/gitalias
## Ref: https://haacked.com/archive/2014/07/28/github-flow-aliases/

[include]
path = ../.gitcommands

[alias]
#save progress (commit)
save = !".gitcommands/save $1 #"

#fetch
test = !echo "It works!"

#setproject or setconfig

# -------------------------
# ---- GIT ----
#get a branch
getb = !".gitcommands/getb $1 #"

#alias to getb
setb = !".gitcommands/setb $1 $2 #"

#remove/close current branch
closeb = !".gitcommands/closeb"

# open a PR
pr = !".gitcommands/pr $1 #"

# remove all local branch except the current
purgelocalbranches = !".gitcommands/purge-branches"

# alias to remove all local branch
purgelocal = !git purgelocalbranches

fixphp = !".gitcommands/fixphp"
copyhooks = !"cp ./.gitcommands/git/hooks/* .git/hooks/ && chmod +x .git/hooks/*"
setcommands = !"bash .gitcommands/git/install-git-cmd.sh"

# -------------------------
# ---- NPM ----
#run the standard installation process
render = !".gitcommands/render"

#run composer compile
compile = !".gitcommands/compile $1 #"
composer = !"git compile $1 #"

# -------------------------
# ---- DOCKER ----
# All these are meant to be run from the host machine, not from within the container
dockerup = !".gitcommands/docker/dockerup"
dockerdown = !".gitcommands/docker/dockerdown"
dockercmds = !".gitcommands/docker/dockercmds $1 #"
dockerbash = !"git dockercmds --bash"
dockerjarvis = !"git dockercmds --jarvis"
dockergit = !"git dockercmds --git"
dockerdir = !"git dockercmds --dir"
dockercomposer = !"git dockercmds --composer"
dockerclean = !"docker builder prune -f && docker network prune -f"


# -------------------------
# ---- LARAVEL ----
#run the standard installation process
build = !".gitcommands/laravel/build"

# refresh laravel artifacts
cycleapp = !".gitcommands/laravel/cycleapp"

# flush the session
sysflush = !".gitcommands/laravel/sysflush"

# run migrations ops
migrate = !".gitcommands/laravel/migrate $1 #"

# -------------------------
# ---- JARVIS ----

jarvis = !"docker exec -it laravel php ./jarvis/jarvis $1 #"
octane = !php artisan octane:start --watch
octaneup = !php artisan octane:start

# fixphp = !"./jarvis/vendor/bin/phpcbf -p -n -v --standard=./phpcs.xml --extensions=php $1 #"
# lintphp = !"./jarvis/vendor/bin/phpcs -p -v --standard=./phpcs.xml --extensions=php $1 #"

fixjs = !"./jarvis/node_modules/.bin/eslint --fix $1 #"
